main {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-form {
    max-width: 400px;
    text-align: left;
    margin-right: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
}

.contact-form button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.contact-info {
    max-width: 400px;
    text-align: left;
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li i {
    margin-right: 10px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../temp/img/back.jpeg);
}

header {
    background: rgb(51, 51, 51, .7);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(51, 51, 51, .7);
    padding: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    display: none;
}

.dropdown:hover ul {
    display: block;
}

.dropdown li {
    margin: 5px 0;
}


.cart {
    position: relative;
}

.cart-icon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #333;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: rgb(51, 51, 51, .7);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}