main {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.products-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.product-card p {
  margin-bottom: 10px;
}

.product-card button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #666;
}

header {
  background: rgb(51, 51, 51, .7);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 100px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.dropdown {
  position: relative;
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgb(51, 51, 51, .7);
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: none;
}

.dropdown:hover ul {
  display: block;
}

.dropdown li {
  margin: 5px 0;
}


.cart {
  position: relative;
}

.cart-icon {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #333;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../temp/img/back.jpeg);
}

footer {
  background: rgb(51, 51, 51, .7);
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.page-turn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-page,
.next-page {
  background-color: #eee;
  color: #333;
  display: inline-block;
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  width: 50px;
  text-decoration: none;
}

.prev-page:hover,
.next-page:hover {
  background-color: #333;
  color: #eee;
}

.prev-page {
  border-radius: 25px 0 0 25px;
}

.next-page {
  border-radius: 0 25px 25px 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  position: sticky;
  bottom: 0;
}